/* VARIABLER: START */

:root{
    /* Bakgrunnsfarge: */
    --bgMain: #f1f1f1;
    --bgBlue: #002d8e;

    /* Offisiell Ikea-logo */
    --logo: url("rsc/img/ikea_logo.svg");
}

/* VARIABLER: SLUTT */








/* 
HTML BODY OG BASIC FIKSER: START
*/

/* Denne koden fikser problem med margin og padding. */
html, body, html *, body *{
    box-sizing: content-box;
}

/* Denne koden fjerner uønskede mellomrom i body. */
body{
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}

h1,h2,h3,h4,p,a{
    font-family: 'Roboto', sans-serif;
}

nav{

}

/* 
HTML BODY OG BASIC FIKSER: SLUTT
*/








/* 
FONTER OG TYPOGRAFI: START
*/


/* 
FONTER OG TYPOGRAFI: SLUTT
*/